<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body style="background-color:gold">
	<div class="container" style="color:black">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Alex Nguyen</h1>
			<p >Major: Cogntive Science - Design and Interaction</p>
			<h4><p style="line-height:1.8; color:black;"> Interested in most fields involving
			programming and technology, but am flexible and will happily work jsut about anywhere
			as long as my skills are needed. In terms of those skills, I would describe myself
			as a jack-of-all trades, as I am proficient in many different fields, and can also
			quickly adapt to become proficient in fields that which I am not.</p></h4>
		</div>

		<h2><b>My Skills and Work:</b></h2>
		
		<div class='list'> 
		<h3>Programming</h3>
		<blockquote><h3>Buy Buddy App</h3>
		<p>A rudimentary budgeting app which allows users to
		track their expenditures and find where they can cut back on
		unnecessary purchases when they are looking to save money.</p>
		<div class="project" >
			<a href="https://buybuddy-milestone6.herokuapp.com/" class="thumbnail">
				<img src="images/BuyBuddy.png" class="img">
			</a>
		</div>
		</blockquote>
		</div><br>
		
		<div class='list'> 
		<h3>Graphic Design</h3>
		<blockquote><h3>Chemeon Brochure</h3>
		<p>Hired to do contract graphic design for Chemeon
		for their job fair brochure.</p>
		<a href="images/CHEMEON-Outter.png" class="thumbnail" style="max-width:45%; max-height:auto; display:inline-block;">
			<img style="width:95%; height:auto;" src="images/CHEMEON-Outter.png">
		</a>
		
		<a href="images/CHEMEON-Inner.png" class="thumbnail" style="max-width:45%; max-height:auto; display:inline-block;">
			<img style="width:95%; height:auto;" src="images/CHEMEON-Inner.png" class="img">
		</a>
		</blockquote>
		</div><br>

		<div class='list'> 
		<h3>Data Science and Statstics</h3>
		<blockquote><h3>Analysis on Human Cognition</h3>
		<p>A formal study and presentation on the effects that excercise
		has on human cognitive ability.</p>
		<a href="images/Analysis.png" class="thumbnail">
			<img style="width:50%; height:auto;" src="images/Analysis.png">
		</a>
		</blockquote>
		</div><br>
</body>
</html>
