/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background-color: lightgrey;
     opacity: 1;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
	 border-radius: 25px;
	 padding: 20px;
}

.jumbotron p {
     color: #6e6e6e;
}

div.list {
	background-color: silver;
	border: 2px groove black;
	border-radius: 25px;
	padding: 20px;
}

a:link, a:visited {
  border: 2px groove silver;
}

a:hover, a:active {
  background-color: #505f75;
  color: white;
}
